<div class="container">
  <div class="w-full flex flex-col md:flex-row md:flex-wrap">
    <div *ngFor="let job of jobs" class="m-2 p2-">
      <app-card title="{{ job.name }}" subtitle="{{ job.office }}">
        <card-body>
          <div class="flex flex-col mt-2 space-y-2">
            <div *ngFor="let desc of job.descriptions" class="w-full flex flex-col">
              <h4 class="text-lg">{{ desc.name }}</h4>
              <div class="job-description" [innerHTML]="desc.description"></div>
            </div>
          </div>
        </card-body>
        <card-actions>
          <div class="w-full flex justify-end">
            <button type="button"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
                    (click)="apply(job)">
              Apply
            </button>
          </div>
        </card-actions>
      </app-card>
    </div>
  </div>
</div>
