<div>
  <a href="https://analogjs.org/" target="_blank">
    <img alt="Analog Logo" class="logo analog" src="/analog.svg" />
  </a>
</div>

<h2>Analog</h2>

<h3>The fullstack meta-framework for Angular!</h3>

<div class="card flex justify-between">
  <button type="button" (click)="goto('/jobs')">View Jobs</button>
  <button type="button" (click)="goto('/moderator')">Applications</button>
</div>

<p class="read-the-docs">
  For guides on how to customize this project, visit the
  <a href="https://analogjs.org" target="_blank">Analog documentation</a>
</p>
