/* Tailwind directives  */
@use '@angular/material' as mat;
@include mat.core();

$analog-primary: mat.define-palette(mat.$cyan-palette);
$analog-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$analog-danger: mat.define-palette(mat.$red-palette);
$analog-success: mat.define-palette(mat.$green-palette);
$analog-warning: mat.define-palette(mat.$amber-palette);
$analog-info: mat.define-palette(mat.$blue-grey-palette);
$analog-light: mat.define-palette(mat.$grey-palette);
$analog-dark: mat.define-palette(mat.$blue-grey-palette);
$analog-background: mat.define-palette(mat.$gray-palette);
$analog-theme: mat.define-dark-theme((
  color: (
    primary: $analog-primary,
    accent: $analog-accent,
    warn: $analog-warning,
    info: $analog-info,
    success: $analog-success,
    danger: $analog-danger,
    light: $analog-light,
    dark: $analog-dark,
    background: $analog-background
  ),
  typpography: mat.define-typography-config(),
  density: 0,
));
@include mat.all-component-themes($analog-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

.logo {
  @apply box-content;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}
